html{
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 36px;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
    border: 4px solid black;
    width: 410px;
    height: 610px;
    margin: 0 auto;
    margin-top: 1rem;
}
.opsheader {
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}
.display {
    border: 4px solid black;
    background-color: darkgray;
    width: 400px;
    height: 100px;
}
.operators {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid black;
    width: 400px;
    height: 400px;
}   

.opsfooter {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
    width:400px;
    height: 100px;
    border: 1px solid black;
}
.zero, .dot, .equal {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 36px;
 
}

.zero {
    flex: 2 1 0;
}
.dot {
    flex: 1 1 0;
}
.equal {
    flex: 1 1 0;
}
.resop {
    background-color: dodgerblue;
}
.optype {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 36px;
}
.mathop, .equal {
    background-color: darkorange;
}
.num, .zero, .dot {
    background-color: teal;
}