html{
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 62.5%;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
    border: 4px solid black;
    border-radius: 8px;
    width: 410px;
    height: 610px;
    margin: 0 auto;
    margin-top: 1rem;
}
.opsheader {
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}
.display {
    border: 4px solid black;
    border-radius: 8px;
    background-color: #252525;
    color: #fff;
    width: 400px;
    height: 100px;
    text-align: right;
    font-size: 5rem;
    padding-left: 10px;
    padding-right: 20px;
}
.operator-keys {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid black;
    width: 400px;
    height: 400px;
}   

.opsfooter {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
    width:400px;
    height: 100px;
    border: 1px solid black;
}

.zero {
    flex: 2 1 0;
}
.decimal {
    flex: 1 1 0;
}
.equal-sign {
    flex: 1 1 0;
}

.operator, .equal-sign {
    background-color: darkorange;
}
.resop {
    background-color: dodgerblue;
}
.key {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 2rem;
}
.digit, .zero, .decimal {
    background-color: teal;
}